<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>네이버 지도 표시하기</title>
    
    <!--YOUR_CLIENT_ID에 아까 복사했던 Client ID를 적어줍니다.--> 
	<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=m0v69z9qba"></script> 
	<!-- <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=m0v69z9qba&submodules=geocoder"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div id="map" style="width:50%;height:700px;"></div>
        </div>
        <div class="col"></div>
    
    </div>
</div>
<script>
var HOME_PATH = window.HOME_PATH || '.';

var cityhall = new naver.maps.LatLng({{Latitude}},{{longitude}}),
    map = new naver.maps.Map('map', {
        center: cityhall,
        zoom: 13
    }),
    marker = new naver.maps.Marker({
        map: map,
        position: cityhall
    });

var contentString = [
        '<div class="iw_inner">',
        '   <h3>{{store_name}}</h3>', // <업소명>
        '   <p>{{address}}</p>', // <소재지 도로명>>
        '   <p>위반내용입니다</p>', // <소재지 도로명>>
        '</div>'
    ].join('');

var infowindow = new naver.maps.InfoWindow({
    content: contentString,
    maxWidth: 140,
    backgroundColor: "#eee",
    borderColor: "#2db400",
    borderWidth: 5,
    anchorSize: new naver.maps.Size(30, 30),
    anchorSkew: true,
    anchorColor: "#eee",
    pixelOffset: new naver.maps.Point(20, -20)
});

naver.maps.Event.addListener(marker, "click", function(e) {
    if (infowindow.getMap()) {
        infowindow.close();
    } else {
        infowindow.open(map, marker);
    }
});
 
</script>
</body>
</html>