<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href ='{% static './main.css' %}' type="text/css/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
</head>
<body>

    <div class="row ">
        <div class="col-3"></div>
        <div class="col-6 op ">
          <img class="pic col-sm-10 col-md-9 col-lg-5 center rounded mx-auto d-block" src="{% static './title.png' %}" alt="title" />
        <!--네비바-->
        <nav class="navbar navbar-dark bg-info navbar-expand-md">
          <a class="navbar-brand" >Menu</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item "><a href="main.html" class="nav-link">Main</a></li>
                  <li class="nav-item "><a href="intro.html" class="nav-link">Intro</a></li>
                  <li class="nav-item "><a href="find.html" class="nav-link">Find</a></li>
                  <li class="nav-item "><a href="help.html" class="nav-link">Help</a></li>
              </ul>
          </div>
      </nav> 
      <img class="pic col-sm-20 col-md-19 col-lg-12 center rounded mx-auto d-block mt-5 mb-5" src="{% static './logo.png' %}" alt="thief" />
      </br>
      <!--버튼-->
      <div class="row justify-content-center">
      <button type="button" class="btn btn-primary btn-lg" onclick="location.href='find.html'">잡으러 가기</button>
    </div>
        </div>
        <div class="col"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>